/* leny/enigjewo
 *
 * /src/styles/game.scss - Specific styles for Game Screen
 *
 * coded by leny@BeCode
 * started at 01/02/2021
 */

.game-page {
    width: 100%;
    height: 100%;
    > body, #app {
        width: 100%;
        height: 100%;
    }
    #app {
        position: relative;
    }
}

.fa-stack-adjust{
    left: 0.2rem;
}

.expand {
    width: 100%;
    height: 100%;
}

.no-top-radius {
    border-top-left-radius:0;
    border-top-right-radius:0;
}
