/* leny/enigjewo
 *
 * /src/styles/game.scss - Specific styles for Game Screen
 *
 * coded by leny@BeCode
 * started at 01/02/2021
 */

.map-view {
    width: 320px;
    height: 200px;
    background: lightgray;
}
