/* leny/enigjewo
 *
 * /src/styles/game/panorama.scss - Game Panorama styles
 *
 * coded by leny@BeCode
 * started at 02/02/2021
 */

.panorama {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: #dde; // tmp
}
