/* leny/enigjewo
 *
 * /src/styles/game/top-bar.scss
 *
 * coded by leny@BeCode
 * started at 02/02/2021
 */

.top-bar {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right:5rem;
    z-index: 200;
    background-color: hsla(0,0%,4%,.5);
}
